/* 
Cores: 
• BackgroundPrimary: #0E044A
• Background: #F8F8F8
• BackgroundLight: #DEE6F8
• Labels: #2F4565
• Secondary: #584BF9
*/

$primary: #0e044a;
$secondary: #584bf9;
$background: #f8f8f8;
$backgroundLight: #dee6f8;
$labels: #2f4565;
$labelsLight: #2f456550;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;
